<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="{% static 'images/logo.png' %}" rel="icon" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <title>SMS-Spam-Classifier</title>
</head>
<body>
<div class="front">
    <img class="image" src="{% static 'images/logo.png' %}"/>
    <div class="one" >
	<h1>WELCOME TO</h1>
    </div>
    <h3>SPAMATOR</h3>
</div>
<header>
<h2>Launching soon.......</h2>
</header>
</body>
<script>
    $(document).ready(function(){
        function dis(){
            $('.front').css("display","none");
        };
        //window.setTimeout(dis,7000);
    });
</script>
</html>