<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="{% static 'images/logo.png' %}" rel="icon" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>SMS-Spam-Classifier</title>
</head>
<body>
<div class="front">
    <img class="image" src="{% static 'images/logo.png' %}"/>
    <div class="one" >
	<h1 id="h-one">WELCOME TO</h1>
    </div>
    <div class="two"><h3 id="h-two">Spamator</h3></div>
</div>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'warning' %}
            <h2 align="center" style="text-color:red">SPAM</h2>
        {% endif %}
        {% endfor %}
{% else %}
<script>
            $('.front').css("display","block");
            $(document).ready(function(){
                function dis()
                {
                    $('.front').fadeOut(500);
                };
                window.setTimeout(dis,7000);
            });
</script>
{% endif %}
<div class="main">
    <header>
        <img class="header-logo-image" src="{% static 'images/logo.png' %}"/>
        <div class="header-text-div"><span class="header-text">pamator</span></div>
    </header>
    <hr style="margin-top:5px;border:0.1px solid silver;background-color:silver;">
    <center>
    <div class="main-one">
        <img class="mailbox-image" src="{% static 'images/sms2.png' %}" />
        <form method="post" action="{% url 'checksms' %}">
        {% csrf_token %}
        <br/>
        <input class="input-box1" type="text" name="smstext" placeholder=" Enter your SMS here.." required/>
        <br/>
        <input class="check-btn-one" type="submit" value="CHECK"/>
    </form>
    </div>
</center>
<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About Spamator</h6>
            <p class="text-justify">Spamator is an initiative  to help the users indentify whether a SMS is a spam or a legitimate message. To solve this problem, we proposed a spam filtering method using Naïve Bayes classification Algorithm which can be
implemented as a web application to filter incoming messages into spam and ham.  </p>
          </div>

          <div class="col-xs-6 col-md-3">
              <h6>Spam-Classifier</h6>
            <ul class="footer-links">
              <li>Machine Learning Project</li>
              <li>B.tech 3rd year (5th Semester)</li>
              <li>Department of CSE</li>
              <li>KNIT, Sultanpur.</li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Our Team</h6>
            <ul class="footer-links">
                <li>Aviral Singh - 18216</li>
              <li>Chakresh Varshney - 18217</li>
              <li>Divyanshu Shukla - 18218</li>
              <li>Garima Ahuja - 18219</li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                Spamator
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
</div>

</body>

</html>